main{
    font-family: Avenir;
    width:100%;
    .job_container{
        margin: 0 auto;
        background-image: url(/img/グラデーション.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 600px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        .job_box{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 350x;
            height: 350px;
            .job{
                width:50%;
                height:50%;
                border-radius: 50%;
                font-family: YuGothic;
                font-weight:bold;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #FBFBFB;
                opacity: 0.8;
            }
        }
    }
    .click_torigger{
        text-align: center;
    }
    .click_nav{
        text-align: center;
        margin-top: -50px;
    }
}